<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NQFPT6BQCS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NQFPT6BQCS');
</script>

<script>
function sendReadEvent(articleName, numberOfMinutes) {
    gtag('event', 'read_article', {
        "article_name": "articleName",
        "number_of_minutes": numberOfMinutes,
    });
}

document.addEventListener("DOMContentLoaded", () => {

    // Skickar event vid klick på artikel 1
    document.getElementById("read-article-1").addEventListener("click", () => {
        sendReadEvent("Article 1", 5)
    });

    // Skickar event vid klick på artikel 2
    document.getElementById("read-article-2").addEventListener("click", () => {
        sendReadEvent("Article 2", 12)
    });

    // Skickar event vid klick på artikel 3
    document.getElementById("read-article-3").addEventListener("click", () => {
        sendReadEvent("Article 3", 17)
    });

});
  
  
 console.log("2023-01-23")
</script>
