<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NQFPT6BQCS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NQFPT6BQCS');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N4JRM3K');</script>
<!-- End Google Tag Manager -->

<script>/*
function sendReadEvent(articleName, numberOfMinutes) {
    gtag('event', 'article_read', {
        "article_name": articleName,
        "number_of_minutes": numberOfMinutes,
    });
}

document.addEventListener("DOMContentLoaded", () => {
  
      const articleRead1Button = document.getElementById("article_read_1");

  
    if (articleRead1Button) {
        // Skickar event vid klick på artikel 1
        articleRead1Button.addEventListener("click", () => {
            sendReadEvent("Article 1", 5)
        });

        // Skickar event vid klick på artikel 2
        document.getElementById("article_read_2").addEventListener("click", () => {
            sendReadEvent("Article 2", 11)
        });

        // Skickar event vid klick på artikel 3
        document.getElementById("article_read_3").addEventListener("click", () => {
            sendReadEvent("Article 3", 16)
        });
    }

});
  
 console.log("ver_4")
</script>*/
